{% extends 'base.html.twig' %}
{% block body %}
    <h1>Hello {{ app.user.prenom }}</h1>
    <h2>Ma sortie</h2>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}

{% block title %}

{% endblock %}