{% extends 'base.html.twig' %}

{% block body %}
  {{form_start(sortieForm)}}
    {{ form_widget(sortieForm) }}
  <button TYPE="">ENREGISTRER</button> <button>Publier</button> <button>Annulé</button>
    {{ form_end(sortieForm) }}


{% endblock %}

{% block title %}

{% endblock %}

